code/Consnet/Promotions/Controller/Index/myWSLD_p.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
    <wsdl:documentation>
        <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema targetNamespace="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified">
            <xsd:simpleType name="char1">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char12">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="12"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char18">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="18"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char2">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char20">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char4">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char40">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char6">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="6"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="cuky5">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="curr11.2">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="11"/>
                    <xsd:fractionDigits value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="curr15.2">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="15"/>
                    <xsd:fractionDigits value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="date10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                    <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="time">
                <xsd:restriction base="xsd:time">
                    <xsd:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" attributeFormDefault="qualified" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
            <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
            <xsd:complexType name="ZzmagentoPromotionsStructure">
                <xsd:sequence>
                    <xsd:element name="Knuma" type="n0:char10"/>
                    <xsd:element name="Vkorg" type="n0:char4"/>
                    <xsd:element name="Vtweg" type="n0:char2"/>
                    <xsd:element name="Spart" type="n0:char2"/>
                    <xsd:element name="Ernam" type="n0:char12"/>
                    <xsd:element name="Erdat" type="n0:date10"/>
                    <xsd:element name="Erzet" type="n0:time"/>
                    <xsd:element name="Abrex" type="n0:char20"/>
                    <xsd:element name="Datab" type="n0:date10"/>
                    <xsd:element name="Datbi" type="n0:date10"/>
                    <xsd:element name="Botext" type="n0:char40"/>
                    <xsd:element name="Knumh" type="n0:char10"/>
                    <xsd:element name="Kschl" type="n0:char4"/>
                    <xsd:element name="Kstbw" type="n0:curr15.2"/>
                    <xsd:element name="Konws" type="n0:cuky5"/>
                    <xsd:element name="Kunnr" type="n0:char10"/>
                    <xsd:element name="Bomat" type="n0:char18"/>
                    <xsd:element name="Kbrue" type="n0:curr11.2"/>
                    <xsd:element name="KnumaPi" type="n0:char10"/>
                    <xsd:element name="KnumaAg" type="n0:char10"/>
                    <xsd:element name="KnumaSq" type="n0:char10"/>
                    <xsd:element name="Aktnr" type="n0:char10"/>
                    <xsd:element name="KnumaBo" type="n0:char10"/>
                    <xsd:element name="Matnr" type="n0:char18"/>
                    <xsd:element name="Kfrst" type="n0:char1"/>
                    <xsd:element name="Kbstat" type="n0:char2"/>
                    <xsd:element name="Kosrt" type="n0:char10"/>
                    <xsd:element name="KnumaSd" type="n0:char10"/>
                    <xsd:element name="Kondm" type="n0:char2"/>
                    <xsd:element name="Bzirk" type="n0:char6"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZzmagentoPromotionsTb">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:ZzmagentoPromotionsStructure" maxOccurs="unbounded" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ZzMagentoGetPromotions">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="BpNumber" type="n0:char10"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ZzMagentoGetPromotionsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ExPromoList" type="tns:ZzmagentoPromotionsTb"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ZzMagentoGetPromotions">
        <wsdl:part name="parameters" element="tns:ZzMagentoGetPromotions"/>
    </wsdl:message>
    <wsdl:message name="ZzMagentoGetPromotionsResponse">
        <wsdl:part name="parameter" element="tns:ZzMagentoGetPromotionsResponse"/>
    </wsdl:message>
    <wsdl:portType name="ZZ_MAGENTO_GET_PROMO_WSDL_1">
        <wsdl:operation name="ZzMagentoGetPromotions">
            <wsdl:input message="tns:ZzMagentoGetPromotions"/>
            <wsdl:output message="tns:ZzMagentoGetPromotionsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="zz_magento_binding" type="tns:ZZ_MAGENTO_GET_PROMO_WSDL_1">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ZzMagentoGetPromotions">
            <soap:operation style="document" soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZZ_MAGENTO_GET_PROMO_WSDL_1:ZzMagentoGetPromotionsRequest"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="zz_magento_binding_soap12" type="tns:ZZ_MAGENTO_GET_PROMO_WSDL_1">
        <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ZzMagentoGetPromotions">
            <wsoap12:operation style="document" soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZZ_MAGENTO_GET_PROMO_WSDL_1:ZzMagentoGetPromotionsRequest"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="zz_magento_service">
        <wsdl:port name="zz_magento_binding" binding="tns:zz_magento_binding">
            <soap:address location="http://deltapq01.delta.co.zw/sap/bc/srt/rfc/sap/zz_magento_get_promo_wsdl_1/300/zz_magento_service/zz_magento_binding"/>
        </wsdl:port>
        <wsdl:port name="zz_magento_binding_soap12" binding="tns:zz_magento_binding_soap12">
            <wsoap12:address location="http://deltapq01.delta.co.zw/sap/bc/srt/rfc/sap/zz_magento_get_promo_wsdl_1/300/zz_magento_service/zz_magento_binding"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>